<!-- <mat-toolbar color="primary" >
  <mat-toolbar-row class="toolbar" [ngClass]="{toolbarHandheld: (isHandset | async)!.matches}">
    <button (click)="toggle()" onclick = "this.blur()" mat-icon-button class="menu-icon" aria-label="Menu Icon Butotn" [ngClass]="{handheld: (isHandset | async)!.matches}">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MN</span>
    <span class="spacer"></span>
    <button mat-raised-button class="favorite-icon" aria-label="Add Button" (click)="addNewNote()" color="accent">
      New Note
    </button>
    <button mat-icon-button class="share-icon" aria-label="Share Icon Button">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar> -->

<nav class="navbar navbar-expand-sm  bg-light">

  <a class="navbar-brand">Brand</a>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon" data-target="#navList" data-toggle="collapse"></span>
  </button>

  <div class="collapse navbar-collapse" id="navList">
    <div class="navbar-nav">
      <a href="#" class="nav-link nav-item">Test</a>
      <a href="#" class="nav-link nav-item">Test</a>
      <a href="#" class="nav-link nav-item">Test</a>
    </div>
  </div>
</nav>
