<!-- <app-header></app-header>
<app-sidenav>
  <div class="noteList" [ngClass] = "{noteListHandset: (isHandset | async)!.matches}">
    <div *ngFor="let singleNote of noteList" class="noteContainer">
      <app-notes [note]="singleNote"></app-notes>
    </div>
  </div>
  <app-note-create></app-note-create>
</app-sidenav> -->

<!--

 <h1>Bootstrap In Angular Using CDN</h1>
 <br>
 <br>

 <div class="alert alert-primary" role="alert">
   A simple primary alert—check it out!
 </div>
 <div class="alert alert-secondary" role="alert">
   A simple secondary alert—check it out!
 </div>
 <div class="alert alert-success" role="alert">
   A simple success alert—check it out!
 </div>
 <div class="alert alert-danger" role="alert">
   A simple danger alert—check it out!
 </div>
 <div class="alert alert-warning" role="alert">
   A simple warning alert—check it out!
 </div>
 <div class="alert alert-info" role="alert">
   A simple info alert—check it out!
 </div>
 <div class="alert alert-light" role="alert">
   A simple light alert—check it out!
 </div>
 <div class="alert alert-dark" role="alert">
   A simple dark alert—check it out!
 </div>

 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Launch demo modal
 </button> -->

 <!-- Modal -->
 <button class="btn btn-primary" (click)="openModal()">Open modal</button>
