.noteList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.noteListHandset {
  flex-direction: column;
}

.noteListHandSet div{
  display: flex;
  align-content: center;
}

.noteContainer {
  display: flex;
  justify-content: center;
}
