<div class="normalNote" *ngIf="!isTodo; else showTodoList">
  <div>
    <span>{{content}}</span>
  </div>
</div>
<ng-template #showTodoList>
  <div class="singleTodo" *ngFor="let todo of todoList">
    <div *ngIf="!todo.checked">
      <mat-checkbox #checkbox (change)="toggleCheckbox(todo)"></mat-checkbox>
      <span>{{todo.content}}</span>
    </div>
  </div>
<mat-divider></mat-divider>
  <div class="finishedTodo">
    <div class="singleTodo" *ngFor="let todo of todoList">
      <div *ngIf="todo.checked">
        <mat-checkbox [checked]="true" (change)="toggleCheckbox(todo)"></mat-checkbox>
        <span class="strikethrough">{{todo.content}}</span>
      </div>
    </div>
  </div>
</ng-template>


