<div class="container">
  <div class="titlebar">
    <div class="title">
      <span>{{note.title}}</span>
    </div>
    <div class="misc-region">
      <button mat-icon-button (click)="deleteNote(note)">
        <mat-icon color="warn">
          delete
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon color="primary">
          edit
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="center">
    <div class="content">
      <span>
        <app-note-content [content]="note.content" [todoList]="note.todos"></app-note-content>
      </span>
    </div>
  </div>
</div>
