<mat-drawer-container
  class="container"
  autosize
  [hasBackdrop] = "(isHandset | async)!.matches"
  [ngClass] = "{handheld: (isHandset | async)!.matches}"
>
  <mat-drawer #drawer class="sidenav" [mode]="((isHandset | async)!.matches)? 'over' : 'side'" opened = {{commService.expanded}} (closed) = "sidenavClosed">
      <mat-nav-list class="navlist">
        <a mat-list-item href="#" class="navButton" [disableRipple] = "!(isHandset | async)!.matches">Notes</a>
        <mat-divider></mat-divider>
        <a mat-list-item href="#" class="navButton" [disableRipple] = "!(isHandset | async)!.matches">Todo</a>
        <mat-divider></mat-divider>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree" #tree>
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>

              <!-- use a disabled button to provide padding for tree leaf -->
              <!-- <button mat-icon-button disabled></button> -->
              <div class="childNode" [ngClass] = "{navButton: !(isHandset | async)!.matches}" matRipple [matRippleDisabled] = "!(isHandset | async)!.matches">
                <a mat-list-item href="#"
                class="childNodeElement navButton"
                disableRipple
                >{{node.name}}</a> <!--Child Node-->
              </div>
              <mat-divider></mat-divider>

          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
            <li>
              <div class="mat-tree-node" [ngClass] = "{navButton: !(isHandset | async)!.matches}" matRipple [matRippleDisabled] = "!(isHandset | async)!.matches">
                <a disableRipple
                mat-list-item href="#"
                (click)="treeControl.toggle(node)"
                class="navIcon">{{node.name}}</a> <!--Parent Node-->
                <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name" class="navIcon" disableRipple>
                  <mat-icon class="mat-icon-rtl-mirror" class="navIcon">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
              </div>
              <div [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
        <mat-divider></mat-divider>

        <a mat-list-item href="#" class="navButton" [disableRipple] = "!(isHandset | async)!.matches">About</a>
        <mat-divider></mat-divider>

      </mat-nav-list>
  </mat-drawer>
  <mat-nav-list>



</mat-nav-list>
  <ng-content></ng-content>
</mat-drawer-container>
