<div class="container" [ngClass] = "{hiddenClass: hidden}">
  <div class="note">
    <button
      mat-icon-button
      aria-label="Close Button"
      (click)="closeClick()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="title-area">
      <span class="textarea"
        role="textbox"
        contenteditable
        [ngClass] = "{textareaHandheld: (isHandset | async)!.matches}"
      ></span>
      <!-- <textarea type="text" placeholder="Title" class="input"></textarea> -->
    </div>

    <div class="content-area">

    </div>
  </div>
</div>
