<div
  class="header-region"
  [ngClass]="{ headerRegionHandheld: (isHandset | async)!.matches }"
>
  <h1>New Note</h1>
  <mat-form-field appearance="fill">
    <mat-label>Select Type</mat-label>
    <mat-select #select (selectionChange)="selectChanged($event)">
      <mat-option *ngFor="let option of noteOptions" [value]="option.id">
        {{ option.type }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="select.value == undefined; else typeChosen">
  <h2>Choose a type</h2>
</div>
<ng-template #typeChosen>
  <div mat-dialog-content [ngClass]="{ todoList: isTodo }">
    <div *ngIf="!isTodo; else showTodo">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="data.content"></textarea>
      </mat-form-field>
    </div>

    <ng-template #showTodo>
      <div class="todoElements" #todos>
        <div class="singleTodo" *ngFor="let todo of data.todo; last as isLast">
          <mat-checkbox #checkBox [(ngModel)]="todo.checked"></mat-checkbox>

          <mat-form-field id="todo">
            <mat-label>Todo List</mat-label>

            <input
              matInput
              [(ngModel)]="todo.content"
              [ngClass]="{ strikethrough: checkBox.checked }"
              (keydown.enter)="enterClicked(todos)"
              #todoInput
              [id]="isLast ? 'lastElement' : 'notLast'"
            />

          </mat-form-field>
        </div>
      </div>
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">
      No, Thanks
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="data"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</ng-template>
