<div class="container" [ngClass] = "{hiddenClass: hidden}">
  <div class="note">
    <button
      mat-icon-button
      aria-label="Close Button"
      (click)="closeClick()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="title-area">
      <span
        #title
        class="title-header"
        [ngClass] = "{headerTransition: titleHasFocus}">
        Title</span>
      <span class="textarea"
        role="textbox"
        contenteditable
        [ngClass] = "{textareaHandheld: (isHandset | async)!.matches}"
        (focus)="elementOnFocus('title')"
        (focusout)="elementOnFocusLeave('title')"
        >
      </span>
    </div>
    <div class="content-area">
      <span
        class="content-header"
        [ngClass] = "{headerTransition: contentHasFocus}">
        Content</span>
      <span class="textarea"
        role="textbox"
        contenteditable
        [ngClass] = "{textareaHandheld: (isHandset | async)!.matches}"
        (focus)="elementOnFocus('content')"
        (focusout)="elementOnFocusLeave('content')">
      </span>
    </div>
      <!-- <textarea type="text" placeholder="Title" class="input"></textarea> -->

    <div class="content-area">

    </div>
  </div>
</div>

