.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

}

.note {
  width: 40%;
  min-width: 300px;
  height: 75%;
  background-color: rgb(209, 209, 209);
}

.hiddenClass {
  display: none;
}

.title-area, .content-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 95%;
  min-width: 95%;
  max-width: 95%;

  height: 1.5rem;
  min-height: 1.5rem;
  max-height: 3rem;

  border: none;
  font-size: 1.2rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.input:focus {
  outline: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.textarea {
  border: 1px solid rgb(151, 151, 151);
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}


.textarea {
  display: block;
  width: 95%;
  overflow: hidden;

  min-height: 40px;
  line-height: 25px;
  outline: none;
  resize: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.textareaHandheld {
  width: 90%;
}


.textarea:focus {
  box-shadow: 0 0 5px black;
}
.textarea[contenteditable]:empty::before {
  content: "Enter Title";
  color: rgb(63, 81, 181);
}


.content-area .textarea {
  min-height: 200px;
}
.content-area .textarea[contenteditable]:empty::before {
  content: "Enter Content";
  color: rgb(63, 81, 181);
}

.title-header, .content-header{
  display: block;
  opacity: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: 0.4s;
}

.headerTransition {
  opacity: 1;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 6em;
  resize: vertical;
  max-height: 9em;
}
